
html {
  font-size: 100%;
}

body {
  padding: 1.563rem;
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  overflow: hidden;
}

main.qr-card {
  padding: 0.938rem;
  max-width: 21.875rem;
 /* margin-top: 2.5rem;*/
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  box-shadow: 2px 2px 2px hsla(218, 44%, 70%, 0.5 );
  overflow: hidden;
}

img.qr-code-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

h1.qr-title {
  font-size: 1.4rem;
  margin: 0.938rem 0;
  color: hsl(218, 44%, 22%);
}

p.qr-description {
  font-size: 1rem;
  margin: 0.938rem auto;
  max-width: 100%;
  color: hsl(220, 15%, 55%);
}


  .attribution { 
    font-size: 0.688rem; 
    text-align: center;
    margin-top: 1.875rem;
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
  
  
  @media screen and (min-width: 768px ) {
    h1.qr-title {
      font-size: 1.6rem;
    }
    p.qr-description {
      font-size: 1.188rem;
    }
  }
  